body {
	background-color: hsl(220, 80%, 10%);;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: hsl(220, 50%, 30%);
	position: absolute;
    inset: 0 0 auto 0;
    z-index: 1;
}

main {
    position: absolute;
    background-color: #dedede;
    border-radius: 15px;
    border: 2px solid black;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 60%;
}
.pages ul {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.pages a {
	display: block;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	color: white;
	transition: 250ms ease-in-out;
}

.pages a:hover,
.pages a:focus {
	background-color: hsl(220, 50%, 20%);
}

#container {
    position: absolute;
    top: 2%;
    left: 2%;
}

#buttons {
    position: absolute;
    top: 2%;
    right: 2%;
}

.button {
    width: 100%;
    text-align: center;
}

.popup {
    display: none;
    background-color: white;
    border: 3px solid black;
    z-index: 9;
    top:10%;
    bottom:10%;
    right:20%;
    left: 20%;
    position: fixed;
    border-radius: 10px;
    
  }
  
  .form-container {
    padding: 10px;
  }

.form-container input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }